<% if @dictionary.errors.any? %>
  <div class="flash flash-alert">
    <%= @dictionary.errors.full_messages.to_sentence %>
  </div>
<% end %>
<div class="form card">
  <h2><%= @dictionary.persisted? ? 'Rename' : 'New' %> dictionary</h2>

  <%= form_for(@dictionary) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :word_column_label, 'New language' %>
    <%= f.text_field :word_column_label %>
  </div>

  <div class="field">
    <%= f.label :translation_column_label, 'Familiar language' %>
    <%= f.text_field :translation_column_label %>
  </div>

  <div class="field">
    <%= f.label :test_type_ids, 'Test types' %>
    <% Test::TEST_TYPES.each_with_index do |type, i| %>
      <div>
        <%= %>
        <%= f.check_box :"test_type_ids", {multiple: true, id: "test_type_ids_#{i}"}, i, nil %>
        <label for="test_type_ids_<%= i %>"><%=t [:test_type, *type].join('.'), word: @dictionary.word_column_label, translation: @dictionary.translation_column_label %></label>
      </div>
    <% end -%>
  </div>
  <div class="actions">
    <%= f.submit 'Save' %>
  </div>
<% end %>

  <%= link_to 'Delete dictionary', @dictionary, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button destroy' if @dictionary.persisted? %>
  <%= link_to 'Cancel', dictionaries_path %>
</div>