<%= form_for(@word, remote: true, html: {class: 'table-body', id: dom_id(@word)}) do |f| %>
  <div class="table-row">
    <div class="cell word-class input">
      <%= f.select :word_class, options_for_select(word_classes, f.object.display_word_class), {prompt: '-word class-'}, class: 'word_class' %>
    </div>
    <div class="cell word input">
      <div class="input-wrapper">
        <%= f.text_field :lexical_form, class: 'word', autofocus: @word.persisted?, placeholder: @dictionary.word_column_label %>
      </div>
    </div>
    <div class="cell translation input">
      <div class="input-wrapper">
        <%= f.text_field :translation, class: 'translation', placeholder: @dictionary.translation_column_label %>
      </div>
    </div>
    <div class="cell action">
        <%= f.submit 'Save' %>
        <%= link_to 'Delete', @word, method: :delete, class: 'button destroy', data: { confirm: 'Are you sure?', remote: true } if @word.persisted? %>
    </div>
  </div>

  <%# adjective stuff %>
  <div class="table-row word-class-variant adjective article <%= 'hidden' unless @word.adjective? %>">
    <div class="cell"></div>
  <% Noun::GENDERS.each do |gender| %>
    <div class="cell field-label"><%= gender.to_s.humanize %></div>
  <% end %>
  </div>

  <% Noun::NOUN_VARIANTS.each do |variant| %>
    <div class="table-row word-class-variant adjective article <%= 'hidden' unless @word.adjective? %>">
      <div class="cell word-class field-label">
        <%= variant.to_s.humanize %>
      </div>
      <% Noun::GENDERS.each do |gender| %>
        <div class="cell word input">
          <div class="input-wrapper">
            <%= f.text_field :"#{gender}_#{variant}", class: 'variant', placeholder: f.object.send(:"display_#{gender}_#{variant}") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%# verb stuff %>
  <div class="table-row word-class-variant verb <%= 'hidden' unless @word.verb? %>">
    <div class="cell"></div>
  <% Verb::TENSES.each do |tense| %>
    <div class="cell field-label"><%= tense.to_s.humanize %></div>
  <% end %>
  </div>

  <% Verb::VERB_VARIANTS.each do |variant| %>
    <div class="table-row word-class-variant verb <%= 'hidden' unless @word.verb? %>">
      <div class="cell word-class field-label">
        <%= variant.to_s.humanize %>
      </div>
      <% Verb::TENSES.each do |tense| %>
        <div class="cell word input">
          <div class="input-wrapper">
            <%= f.text_field :"#{tense}_#{variant}", class: 'variant', placeholder: f.object.send(:"display_#{tense}_#{variant}") %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <%# noun stuff %>
  <div class="table-row word-class-variant noun pronoun <%= 'hidden' unless @word.nounish? %>">
    <div class="cell"></div>
    <div class="cell field-label">Singular</div>
    <div class="cell field-label">Plural</div>
  </div>
  <% Noun::CASES.each do |word_case| %>
    <div class="table-row word-class-variant noun pronoun <%= 'hidden' unless @word.nounish? %>">
      <div class="cell word-class field-label">
        <%= word_case.to_s.humanize %>
      </div>
      <div class="cell word input">
        <div class="input-wrapper">
          <%= f.text_field :"singular_#{word_case}", class: 'variant', placeholder: f.object.send(:"display_singular_#{word_case}") %>
        </div>
      </div>
      <div class="cell word input">
        <div class="input-wrapper">
          <%= f.text_field :"plural_#{word_case}", class: 'variant', placeholder: f.object.send(:"display_plural_#{word_case}") unless word_case == :vocative %>
        </div>
      </div>
    </div>
  <% end %>

<% end %>
