<%= form_for(@word, remote: true, html: {class: 'table-row', id: dom_id(@word)}) do |f| %>
  <div class="cell word">
    <div class="input-wrapper">
      <%= f.text_field :word, class: 'word', autofocus: true %>
    </div>
  </div>
  <div class="cell translation">
    <div class="input-wrapper">
      <%= f.text_field :translation, class: 'translation' %>
    </div>
  </div>
  <div class="cell pronunciation">
    <div class="input-wrapper">
      <%= f.text_field :pronunciation, class: 'pronunciation' %>
    </div>
  </div>
  <div class="cell action">
    <%= f.submit 'Save' %>
    <%= link_to 'Delete', @word, method: :delete, class: 'button destroy', data: { confirm: 'Are you sure?', remote: true } if @word.persisted? %>
  </div>
<% end %>
