<%= link_to edit_word_path(word), remote: true, id: dom_id(word), class: 'table-row' do %>
    <div class="cell field-label"><%= word.display_word_class %></div>
    <div class="cell word"><%= word.term %><span class="tail"><%= word.lexical_tail %></span></div>
    <div class="cell translation"><%= word.translation %></div>
    <div class="cell action"><span class="button">Edit</span>
    <div class="cell proficiency"><%= word.weight %></div>
  </div>
<% end %>