<% if flash[:notice].present? %>
  <div class="flash flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="flash flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="card">
  <h2><%= @dictionary.name %>
    <%= link_to 'i', edit_dictionary_path(@dictionary), class: 'button rename secondary' %>
  </h2>
  <%# not a real table for a: responsive and b: row=form reasons. %>
  <div class="table" id="words">
    <div class="table-head">
      <div class="table-row">
        <div class="cell word">word</div>
        <div class="cell translation">translation</div>
        <div class="cell pronunciation">pronunciation</div>
        <div class="cell"></div>
      </div>
    </div>
    <div class="table-body">
      <%= render partial: 'form' %>
      <%= render @words %>
    </div>
  </div>
</div>
