<% if flash[:notice].present? %>
  <div class="flash flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert].present? %>
  <div class="flash flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="card">
  <h2><%= @dictionary.name %>
    <%= link_to 'i', edit_dictionary_path(@dictionary), class: 'button settings-button secondary' %>
  </h2>
  <%# not a real table for a: responsive and b: row=form reasons. %>
  <div class="table words" id="words">
    <div class="table-head">
      <div class="table-row">
        <div class="cell word"><%= @dictionary.word_column_label %></div>
        <div class="cell translation"><%= @dictionary.translation_column_label %></div>
        <div class="cell pronunciation">Pronunciation</div>
        <div class="cell"></div>
      </div>
    </div>
    <div class="table-body">
      <div class="table-row field-label-row">
        <div class="cell field-label">New word</div>
      </div>
      <%= render partial: 'form' %>
      <%= render @words %>
    </div>
  </div>
</div>
