<%= form_for test, remote: true, html: {class: 'test card'} do |f| %>
  <%= link_to 'i', edit_dictionary_path(@dictionary), class: 'button settings-button secondary' %>
  <div class="test-label <%= test.question_method %>"><%= @dictionary.label_for_column(test.question_method) %></div>
  <div class="question <%= test.question_method %>"><%= test.question %></div>
  <div class="test-label <%= test.answer_method %>"><%= @dictionary.label_for_column(test.answer_method) %></div>

  <div class="answers">
    <% test.options.each do |option| %>
      <%= f.button option, name: :'test[given_answer]', value: option, class: "answer #{test.answer_method} #{' correct-answer' if test.is_answer?(option)}" %>
    <% end %>
  </div>
<% end -%>